@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:0,0,0;
  --backgroung-start-rgb:214,219,220;
  --background-end-rgb:255,255,255; 
  }

  @media (prefers-color-scheme:dark){
    :root{
      --foreground-rgb:255,255,255;
      --background-start-rgb:18,18,18;
      --background-end-rgb:34,34,34;
    }
  }

  body{
    color:rgb(var(--foreground-rgb));
    background: #0e0f14;
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

  